<section class="admin-home-dashboard">

  <div class="container-fluid admin-dashboard-main-line-chart">
    <div class="row">
      <div class="col-12">
        <span>Visitors</span>
      </div>
      <div class="col-12 mb-4">
        <small>Unique visitors by month</small>
      </div>
      <div class="col-12">
        <canvas baseChart height="60px" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [chartType]="lineChartType" [colors]="lineChartColors"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 mx-auto">

        <div class="row">
          <!-- ------------Start Analytics Container Field------------ -->

          <!-- ------------Center left major space------------ -->
          <div class="col-12 px-4 py-4">
            <!-- ------------User Trending------------ -->
            <div class="row">

              <div class="col-12 mb-3 text-center">
                <span class="admin-analytics-titles ">Tire Wear Dataset Information</span>
              </div>

              <div class="col-12">
                <div class="row">

                  <div class="col-md-3 col-sm-6 col-12">
                    <div class="on-box left-upper-showcase text-center">

                      <div class="upper-label-kpoi">
                        Sorted Yearwise Queries
                      </div>
                      <div class="lable-logo mt-1">
                        <i class="fa fa-calendar lable-logo-fa p-3 m-2 label-1-fa"></i>
                      </div>
                      <div class="second-lable-data py-3">
                        The top {{ topThreeYears }} years in which most entries were received
                        are:
                        <br>
                        <!-- {{ topThreeYearsArray | async }} -->
                        <span *ngFor="let i of topThreeYearsArray; let isLast=last">
                          <span class="topYears textKPOI"
                            tooltip="{{i['count']}}">{{ i["year"] }}{{isLast ? '' : ', '}}</span>
                        </span>
                        <br>
                        <small><i>(Hover over to see the counts.)</i></small>

                      </div>
                      <!-- <div class="col-lg-4 col-sm-6 col-12 my-3" *ngFor="let film of filmData"> -->


                    </div>
                  </div>

                  <div class="col-md-3 col-sm-6 col-12">
                    <div class="on-box left-upper-showcase text-center">

                      <div class="upper-label-kpoi">
                        Unique Values
                      </div>
                      <div class="lable-logo mt-1">
                        <!-- <i class="fa fa-rocket lable-logo-fa p-3 m-2 label-2-fa"></i> -->
                        <i class="fa fa-hand-o-up lable-logo-fa p-3 m-2 label-2-fa"></i>
                      </div>
                      <div class="second-lable-data mt-3">
                        Number of distinct countries: <span
                          class="uniqueCandWP textKPOI">{{ uniqueCountries | async }}</span>.
                        <br>
                        <span class="uniqueCandWP textKPOI">{{ uniqueWheelPos | async }}</span> types of Wheel
                        Positions.
                      </div>

                    </div>
                  </div>

                  <div class="col-md-3 col-sm-6 col-12">
                    <div class="on-box left-upper-showcase text-center">

                      <div class="upper-label-kpoi">
                        Top {{ topThreeReasons }} findings with most counts
                      </div>
                      <div class="lable-logo mt-1">
                        <i class="fa fa-signing lable-logo-fa p-3 m-2 label-3-fa"></i>
                      </div>
                      <div class="second-lable-data py-3">
                        <span *ngFor="let i of topThreeReasonsArray; let isLast=last">
                          <span class="topFindings textKPOI"
                            tooltip="{{i['count']}}">{{ capitalizeFirstLetter(i["finding"]) }}{{isLast ? '' : ', '}}
                          </span>
                        </span>
                        <br>
                        <small><i>(Hover over to see the counts.)</i></small>

                      </div>

                    </div>
                  </div>

                  <div class="col-md-3 col-sm-6 col-12">
                    <div class="on-box left-upper-showcase text-center">

                      <div class="upper-label-kpoi">
                        Unique Values
                      </div>
                      <div class="lable-logo mt-1">
                        <i class="fa fa-send-o lable-logo-fa p-3 m-2 label-4-fa"></i>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>


          <!-- ------------handle left minor space------------ -->
          <div class="col-12 col-lg-8">

            <!-- ------------Chart For Reasons------------ -->
            <div class="row">
              <div class="col-12">
                <div class=" donut-chart-right-upper-wait-drop" *ngIf="pleaseWaitBlinkReasonChart">
                  <div class="blink_me">Please Wait...</div>
                </div>

                <div class="reasons-admin-chart px-3 py-3">

                  <div class="col-12 text-center">
                    <span class="admin-analytics-titles">Reasons</span>
                  </div>
                  <div class="col-12 text-center">
                    <small>Tire Wear Issues</small>
                  </div>

                  <div *ngIf="!pleaseWaitBlinkReasonChart">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                      [plugins]="barChartPlugins" [colors]="chartColors" [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- ------------handle right minor space------------ -->
          <div class="col-12 col-lg-4">
            <!-- ------------Pie Chart for Rimtype------------ -->
            <div class="row">
              <div class="col-12 mb-3">
                <span class="admin-analytics-titles">Rimtype Specification</span>
              </div>
              <div class="col-12">
                <div class=" donut-chart-right-upper-wait-drop" *ngIf="pleaseWaitBlinkPieChart">
                  <div class="blink_me">Please Wait...</div>
                </div>
                <div class=" donut-chart-right-upper" *ngIf="!pleaseWaitBlinkPieChart">
                  <canvas baseChart height="99px" width="80px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [colors]="donutColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [options]="doughnutChartOptions">
                  </canvas>
                </div>
              </div>
            </div>

          </div>

          <!-- ------------End Analytics Container Field------------ -->
        </div>


      </div>
    </div>
  </div>
</section>
